@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {

    .first_block_info, .left_block {
        padding-left: 10px;
    }

    .maintext {
        font-size: 30px;
    }

    button {
        width: 60% !important;
    }

    .second_left,
    .second_right,
    .fourth_left,
    .fourth_right,
    .topleft360,
    .topright360 {
        width: 100%;
    }
    .second_content.left_block,
    .second_content.right_block,
    .fourth_content.left_block,
    .fourth_content.right_block,{
        margin: 0 auto;
    }

    .left_block {
        width: 100%;
    }

    .left_block_info {
        margin: 0 auto;
    }
    .right_block_info {
        padding-left: 10px;
    }
    .text_block p {
        width: 350px;
    }

    .left_img1,
    .left_img2,
    .left_img3,
    .fourth_left_img1,
    .fourth_left_img2,
    .fourth_left_img3 {
        margin-right: 10px;
    }

    .third_block_info,
    .fifth_block_info {
        top: 0;
    }

    .maintext3,
    .maintext5 {
        font-size: 35px;
        width: 100%;
        line-height: 45px;
    }

    .subtext3,
    .subtext5 {
        font-size: 16px;
        width: 100%;
        line-height: 25px;
    }

    .third_block_info button,
    .fifth_button {
        margin-top: 100px;
    }
    .top_block p {
        display: none;
    }
    .fourth .fourth_content .left_block {
        width: 100%
    }

    .fourth_left .left_block_info h1 {
        font-size: 30px;
    }

    .fourth_text_block {
        width: 70%;
    }
    .text_block p {
        width: 100% !important;
    }
    .fourth_text_block p {
        width: 100% !important;
    }
    .single_promo {
        width: 90%;
        margin: 0 auto 10px 0;
        padding: 10px;
    }

    .caro {
        font-size: 30px;
    }
    .topleft360 .left_block,
    .form_area {
        padding-left: 10px;
    }
    .form_field input[type="submit"] {
        letter-spacing: 0;
        left: 0;
    }

    .form_field {
        width: 45%;
    }

    .item p {
    width: 92%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 15px;
    }
    .carousel-control.left {
        left: -10%;
    }
    .carousel-control.right {
        right: -10%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px)  {


    .first_block_info, .left_block {
        padding-left: 10px;
    }

    .maintext {
        font-size: 35px;
    }

    .first_button, .fifth_button {
        width: 60%;
    }

    .second_left,
    .second_right,
    .fourth_left,
    .fourth_right,
    .topleft360,
    .topright360 {
        width: 100%;
    }
    .second_content.left_block,
    .second_content.right_block,
    .fourth_content.left_block,
    .fourth_content.right_block,{
        margin: 0 auto;
    }

    .left_block {
        width: 100%;
    }

    .left_block_info {
        margin: 0 auto;
    }
    .right_block_info {
        padding-left: 10px;
    }
    .text_block p {
        width: 100% !important;
    }
    .fourth_text_block p {
        width: 100% !important;
    }
    .left_img1,
    .left_img2,
    .left_img3,
    .fourth_left_img1,
    .fourth_left_img2,
    .fourth_left_img3 {
        margin-right: 30px;
    }

    .third_block_info,
    .fifth_block_info {
        top: 0;
    }

    .maintext3, .maintext5 {
    font-size: 40px;
    width: 100%;
    line-height: 50px;
}

    .subtext3, .subtext5 {
    font-size: 16px;
    width: 90%;
    margin-top: 50px;
    line-height: 25px;
}

    .third_block_info button,
    .fifth_button {
        margin-top: 100px;
    }
    .top_block p {
        display: none;
    }
    .fourth .fourth_content .left_block {
        width: 100%
    }

    .fourth_left .left_block_info h1 {
        font-size: 35px;
    }

    .fourth_text_block {
        width: 70%;
    }
    .single_promo {
        width: 92%;
        margin: 0 auto 10px 0px;
        padding: 10px;
    }

    .caro {
        font-size: 30px;
    }
    .topleft360 .left_block,
    .form_area {
        padding-left: 10px;
    }
    .form_field input[type="submit"] {
        letter-spacing: 0;
        left: 0;
    }

    .form_field {
        width: 46%;
    }

    .item p {
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 15px;
    }
    .carousel-control.left {
        left: -10%;
    }
    .carousel-control.right {
        right: -10%;
    }

}
