@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .second_left,
    .second_right,
    .fourth_left,
    .fourth_right,
    .topleft360,
    .topright360 {
        width: 100%;
    }
    .second_content.left_block,
    .second_content.right_block,
    .fourth_content.left_block,
    .fourth_content.right_block,{
        margin: 0 auto;
    }
    .left_block_info {
        margin: 0 auto;
    }
    .right_block_info {
        padding-left: 0;
    }
    .promo_area .single_promo {
        width: 60%;
        margin: 0 auto 10px 0;
        padding: 10px;
    }
    .form_field {
        width: 45%;
    }
    button {
        width: 100%;
    }
    .item p {
    width: 100%;
    margin: 0 auto;
    line-height: 5px;
    font-size: 12px;
    padding-bottom: 15px;
    }

}